/* Root Variables */
:root {
  --primary-green: #024b26;   /* Nigerian green */
  --secondary-gold: #ffd700;  /* Highlight gold */
  --background: #f7f7f7;
  --text-color: #333;
  --font-family: 'Arial, Helvetica, sans-serif';
  --hero-text-color: #fff;
  --btn-hover: #ffc107;
  --nav-font: "Play", sans-serif;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: var(--primary-green);
  padding: 15px 30px;
  font-family: var(--nav-font);
  border-bottom: 8px solid #777;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--hero-text-color);
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 90px;       
  height: 90px;      
  object-fit: contain;
 
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--hero-text-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
  }

.nav-links li a:hover {
  color: var(--secondary-gold);
}

/* Burger menu for mobile */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--hero-text-color);
}

/* Hero Section */

.hero {
  text-align: center;
  padding: 150px 20px;
  background: url('/project/images/nigerian-girls.jpg') no-repeat center center/cover;
  color: var(--hero-text-color);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--hero-text-color);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--hero-text-colortext-color);
}

.hero .btn {
  padding: 12px 25px;
  background-color: var(--secondary-gold);
  color: var(--primary-green);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

.hero .btn:hover {
  background-color: var(--btn-hover);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  z-index: 1;
}

.hero h1, 
.hero p, 
.hero .btn {
  position: relative;
  z-index: 2; 
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--primary-green);
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
