* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 100;
}

header {
    background-color: #193e64;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem 10;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #193e64;
    border-radius: 10px;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    border: 1px solid #633838;
    padding: 1rem;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    margin: 1rem 5;
}

.page-border {
    border: 4px solid #ffffff;
}

/* Footer bar */
footer {
    background-color: #1f4d72;
    /* dark blue */
    color: white;
    text-align: center;
    padding: 1.5rem;
}

/* Main copyright text */
footer .copyright {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Last modified text */
footer .modified {
    margin-top: 0.4rem;
    font-size: 0.95rem;
    color: #ffff66;
    /* yellow */
}