@media (min-width: 1200px) {
    .weather-icon-svg {
        display: none;
    }

}

@media (min-width: 700px) {

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
        margin-left: 10px;
        width: 48px;
        height: 48px;
    }
}