@media (min-width: 700px) {

    #menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}